@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');



body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the container takes the full viewport height */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


h1 {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 10rem;    
    background: radial-gradient(circle at center center, #CBCAA5 0%, #334d50 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem; /* Adjust the font size for smaller screens */
    }
}